@font-face {
    font-family: 'Neue Montreal Medium';
    src: url('./fonts/ppneuemontreal-book.otf') format('opentype');
    /* You can also include other font formats for better compatibility */
  }

  
* {
    font-family: "Neue Montreal Medium", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 62.5%;
}
  
/* Utility classes */

.z-on-top {

    z-index: 1;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main, footer {
    padding: 0 40px;
}

nav {

    display: flex;
    min-height: 48px;
    max-width: 256px;
    color: black;
    background-color: #e8e5e480;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;

    position: fixed;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

nav p {
    font-size: 12px;
    padding: 12px 24px;
    cursor: pointer;
}

nav p.active {
    background-color: white;
    margin-left: 4px;
    border-radius: 16px;
    
    
}

.what-am-i {
    margin: 128px 0;
}

.what-am-i h1 {
    font-size: 48px;
    width: 640px;
    text-align: center;
}

.skills {
    margin-top: 32px;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: baseline;
    font-size: 24px;
}

.skills p:not(:first-child) {
    background-color: #e8e5e480;
    padding: 8px 12px;
    border-radius: 12px;
}

.image-grids {
    display: grid;
    grid-template-columns: repeat(2, 640px);
    grid-template-rows: repeat(6, 512px);
    row-gap: 32px;
    column-gap: 24px;
    justify-content: center;
    margin-bottom: 128px;
}

.image-grids .image-grid {
    background-color: #7f7f7f;
    border-radius: 12px;
    height: 100%;
}

.image-grids .image-grid .aire {
    background-image: url('https://framerusercontent.com/images/kfr022WaJ8YJUyZFmdwCB3pXhs.jpg?scale-down-to=1024');

}

.image-grids .image-grid .correlated {
    background-image: url('https://framerusercontent.com/images/QVKFKT3dyGxloXfzzpurVKNMM6M.jpg?scale-down-to=1024');

}

.image-grids .image-grid .blind-date {
    background-image: url('https://framerusercontent.com/images/AX9PukosNfGVcfXw3YapiYpl9g.jpg?scale-down-to=1024');

}

.image-grids .image-grid .sapphire {
    background-image: url('https://framerusercontent.com/images/BAXywubxN8sAhfJg3AgGgFI.jpg?scale-down-to=1024');

}

.image-grids .image-grid .scuh {
    background-image: url('https://framerusercontent.com/images/3WALBX7nnuG7p85CLjlVmWPDHw.jpg?scale-down-to=1024');

}

.image-grids .image-grid .upkid {
    background-image: url('https://framerusercontent.com/images/e3moUZXfgtjYQY4ILakIMaz4n7s.jpg');

}



.image-grids .image-grid .glasses {
    background-image: url('https://framerusercontent.com/images/aH1eUgCIIIrbJF7TUlaKAehoI.jpg?scale-down-to=1024');

}

.image-grids .image-grid .earnings {
    background-image: url('https://framerusercontent.com/images/UbS7rWmAwWxjtwM7oaWwRuGo.jpg?scale-down-to=1024');

}

.image-grids .image-grid .basel-world {
    background-image: url('https://framerusercontent.com/images/hQVBeiDNGU2TfeDJALuhawlcto.jpg?scale-down-to=1024');

}

.video-container {
    position: relative;
    width: 100%;
    height: 100%; /* Adjust the height as needed */
    overflow: hidden;
  }
  


.image-grid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grids .image-grid .cover-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-size: cover;
    background-position: center;
    transition: filter .5s ease;
}
.image-grid {
    position: relative;
    cursor: pointer;
}

.grid-image-hover-content {
    position: absolute;
    width: 100%;
    top: 10px;
    display: none;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    background-color: transparent;
    z-index: 2;
}

.grid-image-hover {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    display: none;
    justify-content: space-between; /* Align content at the top */
    align-items: center;
    text-align: center;
    border-radius: inherit;
    z-index: 1; /* Place it above the cover image */
}

.image-grid:hover .grid-image-hover, .image-grid:hover .grid-image-hover-content {
    display: flex; /* Show on hover */
}

.image-grid:hover .cover-image {
    filter: blur(8px); /* Apply a blur effect on hover */
}



.grid-image-hover-content p {
    color: white;
    font-size: 14px;
}

.arrow-background {
   
    padding: 12px;
    border-radius: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-grid-text {
    display: none;
}

.work-together {
    text-align: center;
    margin-bottom: 128px;
}

.work-together p:first-child {
    color: black;
    font-size: 32px;
}


.work-together p:last-child {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 32px;
}
.work-together p:last-child:hover {
    color: rgb(130, 130, 130);
    cursor: pointer;
}
  
.fadeup {
    transform: translateY(70px);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .5s;
    transition-timing-function: linear;
}

.in-view.fadeup , .in-view .fadeup {
    transform: none;
    opacity: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

footer div p {
    color: black;
    font-size: 12px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 12px;
    align-items: center;
}

footer ul li a {
    text-decoration: none;
    font-size: 12px;
}

.shop-fixed {
    background-color: black;
    color: white;
    border-radius: 16px;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);

    width: 96px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;
    cursor: pointer;
}

.shop-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 12 12"%3E%3Cpath d="M6 0 L6 12 M0 6 L12 6 M1.757 1.758 L10.243 10.242 M1.758 10.243 L10.242 1.757" fill="transparent" stroke-width="1.45" stroke="rgb(255,255,255)" stroke-miterlimit="10"%3E%3C/path%3E%3C/svg%3E');
    width: 12px; /* Adjust the width and height as needed */
    height: 12px;
}


.shop-fixed p {
    font-size: 12px;
}

@media screen and (max-width: 1023px) {
    main, footer {
        padding: 0 20px;
    }

    .skills {
        display: none;
    }
    .image-grids {
        grid-template-columns: 640px;
        
        grid-template-rows: repeat(12,512px);
    }


    .mobile-grid-text {
        display: block;
        font-size: 14px;
        margin-top: 8px;
    }

    footer {
        flex-direction: column;
        gap : 16px;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 425px) {

    main, footer {
        padding: 0 20px;
    }

    .what-am-i h1 {
        font-size: 32px;
        width: auto;
        text-align: center;
    }

    .skills {
        display: none;
    }
    .image-grids {
        grid-template-columns: 300px;
        grid-template-rows: repeat(12, 256px) ;
        gap: 36px;
    }

    footer {
        flex-direction: column;
        gap: 16px;
        margin-bottom: 64px;
    }
}