* {
  font-family: LabGrotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.nav-wrapper {
  position: fixed;
  padding: 10px 0 30px 0;
  top: 0;
  background-color: white;
  z-index: 4;
  width: 100vw;
}
nav {
  position: relative;
  margin: 0px 64px 0px 64px;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

nav button {
  position: absolute;
  right: 0;

  /* Button styles */
  outline: none;

  background-color: #04ddb2;
  color: white;
  width: 129px;
  font-size: 18px;
  border: none;
  height: 48px;
  border-radius: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;

  transition: 0.2s ease-in-out;
}

nav .header-logo {
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.header-logo svg {
  width: auto;
  height: 21px;
  display: block;
  transform: translateY(-2px);
}

nav .navigation {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  list-style: none;
}

.navigation .nav-link {
  color: #767676;
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin: 0 24px;
  transition: 0.2s ease-in;
  font-size: 24px;
  font-weight: 500;
  transform: translateY(-1px);
}

.navigation .nav-link.tour {
  color: #333;
}

.mobile-nav {
  display: none;
}

.mobile-nav-links {
  /* display: none; */
}
.content {
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h1 span {
  font-size: 64px;
  line-height: 1.05;
  margin-bottom: 12px;
  font-weight: 900;
  cursor: default;
}

span {
  color: #04ddb2;
}

.content p {
  max-width: 600px;
  font-size: 26px;
  line-height: 1.45;
  color: #333;
  margin-bottom: 20px;
}

.content .video-background-container {
  position: relative;
  width: 100%;
  padding-top: 600px;
  overflow: hidden;
  border-radius: 24px;
  margin-top: 32px;
  transition: 0.4s ease;
  margin-bottom: 32px;
}

.video-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 0;
}

.video-poster img {
  width: 800px;
  height: auto;
  border-radius: 24px;
}

.video-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 80%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.video-modal iframe {
  width: 100%;
  height: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  background: none;
  border: none;
}

.download-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.download-content h1 {
  max-width: 500px;
  line-height: 1.05;
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 48px;
}

.download-content .large-download {
  outline: none;
  border: none;

  width: 168px;
  height: 50px;
  font-size: 20px;
  border-radius: 32px;
  background-color: #04ddb2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  box-shadow: 0 10px 20px -8px transparent;
  cursor: pointer;
}

footer {
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  height: 400px;
  margin: 0 96px;
}

.footer-container {
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo svg {
  height: 18px;
  width: auto;
}

.footer-copywrite div {
  white-space: nowrap;
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 1;
}

.footer-header {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1;
}

.footer-column-link-container {
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 1;
}

.footer-column-link {
  margin-left: -16px;
  white-space: nowrap;
  padding: 0 16px;
  border-radius: 50px;
  transition: 0.2s ease;
  color: #333;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}

.footer-social-links {
  display: flex;
}

.footer-social-link {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #04ddb2;
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
}

.footer-container-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  h1,
  h1 span {
    font-size: 54px;
  }

  .content p {
    max-width: 550px;
    font-size: 24px;
  }

  .content .video-background-container {
    padding-top: 359px;
    margin-bottom: 80px;
  }

  .video-poster img {
    width: 640px;
  }

  .download-content h1 {
    max-width: 400px;
    font-size: 56px;
  }

  footer {
    margin: 0;
  }
  .footer-container {
    gap: 18px;
  }
  .footer-copywrite div {
    font-size: 12px;
    font-weight: 200;
  }
  .footer-social-links {
    flex-direction: column;
    gap: 8px;
  }

  .footer-social-link {
    width: 40px;
    height: 40px;
  }
  .footer-social-link svg {
    width: 40px;
    height: 40px;
  }

  .footer-column-link {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .nav-wrapper nav {
    display: none;
  }

  .nav-wrapper {
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0) 0px 30px 60px;
    position: fixed;
    padding: 10px 32px 20px 32px;
    top: 0;
    background-color: white;
    z-index: 10;
    width: 100vw;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-menu-button {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    shape-rendering: crispEdges;
    transition: background-color 0.2s ease;
    background-color: #eef0f2;

    appearance: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
  }

  .hamburger {
    cursor: pointer;
    transform: translate(-8px, -1px);
    transform: translate(-9px, -1px);
  }

  .hamburger span,
  .hamburger span:after,
  .hamburger span:before {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .hamburger span,
  .hamburger span:after,
  .hamburger span:before {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 18px;
    background: #333;
    position: absolute;
    display: inline-block;
    content: "";
  }

  .hamburger span:before {
    top: -5px;
    left: 0;
  }

  .hamburger span:after {
    bottom: -5px;
    left: 0;
  }


  .mobile-nav-links {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: visibility 3s ease-in-out, opacity 250ms ease-in-out;
  }

  .mobile-nav-links.mobile-links-active {

    max-height: max-content;
    visibility: visible;
    opacity: 1;
   

    position: sticky;
    padding: 20px 0 40px 0;
    display: flex;
    flex-direction: column;
    background: hsla(0,0%,100%,.97);
    backdrop-filter: blur(20px);
    z-index: 12;
  }

  .mobile-nav-links.mobile-links-active .navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .mobile-links-active .navigation .nav-link {
    margin: 0;
    text-align: left;
    padding: 20px 0;
    margin: 0;
    line-height: 1.2;
    width: 100%;
    box-sizing: border-box;
  }

  .mobile-links-active button {
    margin-top: 37px;
     /* Button styles */
  outline: none;

  background-color: #04ddb2;
  color: white;
  width: 100%;
  font-size: 20px;
  border: none;
  height: 50px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;

  }

  
  .content {
    margin-left: 32px;
    margin-right: 32px;
  }

  h1,
  h1 span {
    font-size: 38px;
  }

  .content p {
    font-size: 18px;
    max-width: 420px;
  }

  .content .video-background-container {
    padding-top: 250px;
    margin-bottom: 20px;
  }

  .video-poster img {
    width: 361px;
  }

  .download-content h1 {
    max-width: 300px;
    font-size: 38px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .download-content .large-download {
    width: 148px;
    height: 42px;
    font-size: 18px;
  }

  .footer-container {
    display: none;
  }

  .footer-container-mobile {
    display: block;
    padding: 62px 24px;
  }

  .footer-container-mobile .footer-left {
    text-align: center;
  }

  .footer-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 350px;
    margin: auto;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    flex: 1 1;
    text-align: center;
    margin-bottom: 72px;
  }

  .footer-social-links {
    flex-direction: column;
    flex: 1 1;
    align-items: center;
    padding: 0 16px;
    justify-content: center;
  }

  .footer-copywrite div {
    font-size: 16px;
    font-weight: 400;
  }
}
